# Worker
WORKER_ID=idd-2
WORKER_TOKEN=worker-secret-token
WORKER_HOST=0.0.0.0
WORKER_PORT=8001
WORKER_HOSTNAME=acs.worker-idd-2.local

# Manager
MANAGER_TOKEN=manager-secret-token
MANAGER_HOST=0.0.0.0
MANAGER_PORT=8000
MANAGER_HOSTNAME=acs.manager.local
MANAGER_REMEMBER=true
